﻿<%@ Page Title="Informacje" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="About.aspx.cs" Inherits="Projekt_gotowy.About" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <h2>Informacja</h2>
    <h3>Ta aplikacja powstała w celu zaliczenia przedmiotu "Bazy danych w aplikacjach internetowych"</h3>
</asp:Content>
