﻿<%@ Page Title="Home Page" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="Projekt_gotowy._Default" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">

    <div class="text-center">
        <br />
        <asp:Label ID="Label1" runat="server" Font-Names="Comic Sans MS" Font-Size="XX-Large" Text="Witajcie w Sklepie Interntowym"></asp:Label>
        <br />
        <img src="obrazy/logo.png" alt="Sample Photo" />
    </div>

</asp:Content>
