﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Panel_klienta.aspx.cs" Inherits="Projekt_gotowy.Panel_klienta" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <p class="text-center" style="font-size: xx-large">
        <strong>Witaj w Panelu Klienta !</strong></p>

  <div class="navbar-collapse collapse">
     <ul class="nav navbar-nav">
                  <li><a runat="server" href="~/Zamowienie">Złóż zamówienie</a></li>
                  <li><a runat="server" href="~/Moje_zamowienia">Moje zamówienia</a></li>
     </ul>
   </div>
    <hr style="margin-top: 4px; margin-bottom: 0px" />
    <hr style="margin-bottom: 0px" />
    
    <asp:Label ID="Label1" runat="server" Text="Label" BackColor="#009900" BorderColor="#66FF66" BorderStyle="Groove" BorderWidth="10px" Font-Bold="True" Font-Size="XX-Large" ForeColor="White"></asp:Label>
    
    <br />
    <br />
    <br />
    <br />
    <asp:Button ID="Button1" runat="server" Height="57px" OnClick="Button1_Click" Text="Wyloguj" Width="155px" />
    
    <br />
</asp:Content>
